<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<system.webServer>
		<staticContent>
			<!--
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".otf" mimeType="font/opentype" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
			-->
			<!--
			<clientCache cacheControlMode="UseExpires" httpExpires="Sun, 1 Jan 2017 00:00:00 UTC" />
			-->
			<clientCache cacheControlMode="DisableCache" />

		</staticContent>
		<caching>
			<profiles>
				<!--
				<add extension=".php" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
				<add extension=".js" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
				<add extension=".css" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
				<add extension=".html" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
				<add extension=".png" policy="CacheForTimePeriod" kernelCachePolicy="CacheForTimePeriod" duration="24:00:00" />
				-->
			</profiles>
		</caching>
		<httpErrors>
       <remove statusCode="404" subStatusCode="-1" />
			 <error statusCode="404" path="page-404.html" responseMode="ExecuteURL" />                
       <remove statusCode="500" subStatusCode="-1" />
       <error statusCode="500" path="page-500.html" responseMode="ExecuteURL" />
		 </httpErrors>
	</system.webServer>
</configuration>
