<div class="row text-center">
  <div class="col-xs-12">

    <p class="lead">{{strings.alertActions_title}} {{text.riskLevelName}}<sup>1</sup></p>

  </div>
</div>
<div class="row text-left">
  <div class="col-xs-12">

    <p>{{text.actionCondition}}</p>
    <p><strong>{{strings.alertActions_preventiveActions_title}}</strong></p>
    <ul>
      {{#each text.actionPoints}}
      <li>{{this}}</li>
      {{/each}}
    </ul>

  </div>
</div>
<div class="row text-left mtop20">
  <div class="col-xs-12">

    <blockquote>
      <footer>
          1. {{text.riskLevelName}}: <cite>{{text.riskLevelDescription}}</cite>
      </footer>
    </blockquote>

  </div>
</div>
