<!-- Navigation Bar-->
<header id="topnav">
	<div class="navbar-custom">
		<div class="container">

			<!-- Logo -->
			<div class="logo">
				<span class="conta">conta</span>
				<span class="madrid">madrid</span>
			</div>

			<!-- Navigation Menu-->
			<div id="navigation">
				<ul class="navigation-menu">
					<li><a href="#home"><i class="md md-whatshot"></i>Now</a></li>
					<li><a href="#history"><i class="md md-history"></i>History</a></li>
					<li><a href="#more"><i class="md md-info-outline"></i>More...</a></li>
				</ul>
			</div>
			<!-- End navigation menu -->

			<!-- Mobile menu toggle-->
			<a class="navbar-toggle">
					<div class="lines">
							<span></span>
							<span></span>
							<span></span>
					</div>
			</a>
			<!-- End mobile menu toggle-->

		</div>
	</div>
</header>
<!-- End Navigation Bar-->


<div class="wrapper">
	<div class="container">

		<div id="mainContainer"></div>

		<!-- Footer -->
		<footer class="footer text-right">
			<div class="container">
				<div class="row">
					<div class="col-xs-6">
						<span class="text-nowrap">© contamadrid {{options.copyYear}}.</span>
						<span class="text-nowrap">All rights reserved.</span>
					</div>
					<div class="col-xs-6">
						<ul class="pull-right list-inline m-b-0">
							<li>
								<a class="contact" href="javascript:void(0)">Contact</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!-- End Footer -->

	</div>
</div>
