<div class="row text-center mbot40">
    <div class="col-xs-12">

        <!-- Logo -->
        <div class="logo">
            <span class="conta">conta</span>
            <span class="madrid">madrid</span>
        </div>

        <h1><small>{{strings.splash_header}}</small></h1>
        <p>{{strings.splash_welcome}}</p>

    </div>
</div>
<div class="row text-left">
    <div class="col-sm-4">

        <div class="thumbnail">
            <img src="resources/images/mapThumb@1x.png" class="img-responsive">
            <div class="caption">
                <h3>Mapa</h3>
                <p>
                    En nuestro mapa podrás visualizar la contaminación actual y su evolución en los próximos días.
                </p>
                <p>
                    <button class="wb-close-dialog btn btn-primary waves-effect waves-light">Ir al mapa</button>
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="thumbnail">
            <img src="{{config.defaultImage}}" class="img-responsive">
            <div class="caption">
                <h3>Historial</h3>
                <p>
                    Aquí podrás consultar mediciones y otros datos desde el año 2001.
                </p>
                <p>
                    <a href="#history" class="wb-close-dialog btn btn-primary waves-effect waves-light" role="button">Ir al historial</a>
                </p>
            </div>
        </div>

    </div>
    <div class="col-sm-4">

        <div class="thumbnail">
            <img src="{{config.defaultImage}}" class="img-responsive">
            <div class="caption">
                <h3>Información adicional</h3>
                <p>
                    Normativa sobre calidad del aire. Cómo realizamos las estimaciones.
                </p>
                <p>
                    <a href="#more" class="wb-close-dialog btn btn-primary waves-effect waves-light" role="button">Leer más</a>
                </p>
            </div>
        </div>

    </div>
</div>
